* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.userListContainer {
  display: flex;
  flex-direction: column;

  width: auto;
  padding: 20px;
}

.userListContainer{
  width: 100%;
}
.header {
  display: flex;

  justify-content: space-between;
  margin: 20px 0;
}
.header h2 {
  font-size: 40px;
}
.userListContainer .table {
  justify-content: start;
  background-color: #f3f3f3;
  display: flex;
  border-radius: 20px;
  box-shadow: 0 0 2px black;
  padding: 0px 20px;
}
.addUserBTN {
  padding: 5px 20px;
  border-radius: 100px;
  border: none;
  box-shadow: 0 0 2px black;
}
.col {
  background-color: #fefefe;
  border: 1px solid black;
}
.col * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 15px;
  box-shadow: 0 0 2px black;
  border: none;
}
.buttons {
    padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}
.buttons button {
  padding: 6px;
  border-radius: 10px;
}
.actionRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 10px;
}
.actionRow a{
  text-decoration: none;
  color: black;
  color: white;
  background-color: black;
  border-radius: 99px;

}
.addUserContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
  background-color: #f3f3f3;
  border-radius: 20px;
  box-shadow: 0 0 2px black;
  font-size: 20px;
  font-weight: bold;
}
.addUserContainer label{
  display: flex;
  flex-direction: column;
}
.addUserContainer input{
  width: 300px;
  padding: 10px;
  border-radius: 99px;
  border: none;
  box-shadow: 0 0 2px black;
} 
.submitNewUser{
  background-color: black;
  color: white;
  padding: 10px;
  width: 100%;
  border-radius: 99px;
  border: none;
}