*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.userListContainer{
    
    display: flex;
    flex-direction: column;
    
    width: 80%;
    padding: 20px;
}
.header{
    display: flex;

    justify-content: space-between;
    margin: 20px 0;
}
.header h2 {
    font-size: 40px;
}
.userListContainer .table{
    justify-content: space-around;
    background-color: #F3F3F3;
    display: flex;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 2px black;
}
.addUserBTN{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 2px black;
}
.col{
    
}
.col *{
    background-color: #ffffff;
    padding: 10px 20px;
    margin: 10px 0;
    box-shadow: 0 0 2px black;
    border: none;
    border-radius: 100px;
}
