/* Smooth transitions */
* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  html {
    overflow-x: hidden;
  }
  
  body {
    background-color: #f5f8ff;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .homeHeader {
    background: linear-gradient(to right, #002766, #0051ff);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding: 20px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 20px;
  }
  
  .logo {
    padding-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 32px;
    font-weight: bold;
    white-space: nowrap;
  }
  
  .actions {
    padding-right: 10px;
  }
  
  /* Main Container */
  .HomeContainer {
    
    display: flex;
    width: 100%;
    animation: fadeIn 1s ease;
  }
  
  /* Posts */
  .scrollContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }


  .contentSection {
    padding: 20px;
    background-color: #f4f4f4;
    height: 100vh;
    overflow-y: auto;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  color: #002766;
}

h2 {
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #002766;
}
