/* Smooth transitions */
* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #f5f8ff;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Main Container */
.HomeContainer {
  display: flex;
  width: 100%;
}

.contentSection {
  background-color: #f4f4f4;
  height: 100vh;
  width: 75%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

h1 {
  text-align: center;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  color: #002766;
}

h2 {
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #002766;
}