/* Smooth transitions */
* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  html {
    overflow-x: hidden;
  }
  
  body {
    background-color: #f5f8ff;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Header */
  .homeHeader {
    background: linear-gradient(to right, #002766, #0051ff);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 40px;
    padding: 0 20px;
    animation: fadeSlide 0.8s ease-out;
    position: relative;
    z-index: 10;
  }
  
  .homeHeader h1 {
    padding-left: 20px;
    font-size: 40px;
    color: white;
  }
  
  .homeHeader .search {
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    width: 60vw;
    max-width: 800px;
  }
  
  .homeHeader a {
    text-decoration: none;
    color: white;
  }
  /* Main Container */
  .HomeContainer {
    display: flex;
    width: 100%;
    animation: fadeIn 1s ease;
  }
  
  .leftSidebar {
    position: sticky;
    top: 0;
    align-self: flex-start;
    height: 100vh;
    overflow-y: auto;
    background: url("../bg/sample7.png") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
  
    padding: 20px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    animation: fadeIn 1s ease;
  }
  
  .lsu {
    margin: 20px;
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    color: white;
    text-align: left;
    font-weight: bold;
    background-color: rgba(255,
        255,
        255,
        0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.85;
    border: 1px solid #ffffff;
  }
  
  .lsu:hover {
    background: linear-gradient(45deg, #fffb00, #dd2a7b, #8134af, #515bd4);
    color: white;
    transform: scale(1.03);
    animation: rainbowMove 3s linear infinite;
    background-size: 200% 200%;
    border: 1px solid white;
  }
  
  .lsu a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Posts */
  .scrollContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }


  .contentSection {
    padding: 20px;
    background-color: #f4f4f4;
    height: 100vh;
    overflow-y: auto;
}
