body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    color: white;
}

th {
    background-color: #1c1b24;
}

.delete-btn {
    color: rgb(255, 64, 64);
    text-decoration: none;
}

.postComments
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.postComments table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 100px;
}
