body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    background-image: url(../bg/sample5.png);
}

.content {
    flex: 1;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

h2 {
    font-size: 3rem;
    margin: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
}

.confirmbox ul {
    list-style-type: none;
    font-size: 1.3rem;
    text-shadow:0 8px 16px rgba(0, 0, 0, 0.836) ;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.confirmbox li {
    margin: 10px;
}

.confirmbox {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(10px);
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 500px;
    max-width: 100%;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgb(255, 255, 255);
    text-shadow:0 8px 16px rgba(0, 0, 0, 0.2) ;
}

.submit {
    align-self: center;
    font-size: 1.2rem;
    color: #ffffff;
    font-family: sans-serif;
    border-radius: 10px;
    background-color: rgb(65, 65, 255);
    border: #ecf0ff solid 2px;
    padding: 10px 20px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    width: 250px;
}

.submit:hover {
    background-color: rgb(124, 159, 255);
    color: #ffffff;
}