body {
    font-family: Arial;
}
h2 {
    color: #444;
}
input[type="text"] {
    width: 400px;
}
.message {
    margin-top: 20px;
    font-weight: bold;
    color: green;
}
.error {
    color: red;
}
ul {
    margin-top: 10px;
}