/* General body styling */
body {
  background: #121212;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.HomeContainer {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #121212;
}

.leftSidebar {
  position: sticky;
  top: 0;
  width: 350px;
  height: 100vh;
  background-color: #1c1b24;
  color: white;
  padding: 20px;
  flex-shrink: 0;
}

/* Content area */
.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 50px;
}

/* Upload Form */
.upload-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: #1c1b24;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.upload-form h2 {
  margin-bottom: 20px;
  color: white;
}

.upload-form input[type="text"],
.upload-form input[type="file"] {
  width: 94%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: #272735;
  border: 1px solid #ccc;
  color: white;
}

.upload-form button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background-color: #272735;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.upload-form button:hover {
  background-color: #155ab6;
}

/* File List */
.file-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #1c1b24;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  color: white;
}

.file-list h2 {
  margin-bottom: 15px;
  font-size: 24px;
  color: white;
}

.file-list ul {
  list-style: none;
  padding: 0;
}

.file-list li {
  margin-bottom: 10px;
  font-size: 16px;
  color: white;
}

.file-list a {
  color: #0051ff;
  text-decoration: none;
}

.file-list a:hover {
  text-decoration: underline;
}