@keyframes fadeSlide {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeHeader {
    background-color: #0051ff;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    border: 1px solid black;
    gap: 40px;
    padding: 15px 0;
    animation: fadeSlide 0.8s ease-out;
}

.homeHeader h1 {
    padding-left: 20px;
    font-size: 40px;
    color: white;
}

.homeHeader .search {
    padding: 10px 20px;
    padding-right: 600px;
    border-radius: 10px;
    border: 1px solid #C2C2C2;
    color: black;
    font-size: 1rem;
}

.homeHeader a {
    text-decoration: none;
    color: white;
}

.addPostBtn {
    background-color: white;
    color: #0051ff;
    padding: 10px;
    border: 1px solid white;
    margin: 10px 40px;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.addPostBtn:hover {
    background-color: #e6ecff;
    color: #0036a5;
}

.HomeContainer {
    display: flex;
    width: 100%;
    animation: fadeIn 1s ease;
}

.leftSidebar {
    background-color: white;
    color: black;
    padding: 20px;
    height: 87vh;
    width: 260px;
    list-style-type: none;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border: 1px solid black;
    animation: fadeIn 1s ease;
}

.leftSideUp {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    align-content: center;
    height: 50%;
    width: 100%;
}

/* Buttons of leftSideUp*/
.lsu {
    margin: 5px;
    font-size: 1.2rem;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    color: white;
    text-align: center;
}

.lsu a {
    text-decoration: none;
    color: white;
}

.leftSideDown {
    height: 50%;
    display: flex;
    flex-direction: column;
}

.leftSideDown > div {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.leftSideDown > div > div {
    display: inline;
}

.scrollContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    animation: fadeIn 1s ease;
}

.post {
    display: flex;
    justify-self: center;
    align-items: start;
    flex-direction: column;
    text-align: justify;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    gap: 20px;
    width: 90%;
    margin: 20px;
    box-shadow: 0 0 2px black;
    border-radius: 15px;
    animation: fadeIn 1s ease;
}

.pfp {
    border-radius: 100px;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    display: grid;
    place-content: center;
}

.postHeader {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.postHeader .postHeaderPoster {
    display: flex;
}

.postHeader .postHeader .postHeaderCol {
    display: flex;
}

.interactionHeader {
    display: flex;
    gap: 20px;
}

.interactionHeader button {
    border: none;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 20px;
}

.commentSection {
    background-color: #1e1e1e;
    padding: 20px;
    width: 95%;
    border-radius: 10px;
}

.addComment {
    display: flex;
    gap: 20px;
}

.sendCommentBTN {
    padding: 10px 40px;
}

.rightSidebar {
    background-color: white;
    width: 400px;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    gap: 20px;
    animation: fadeIn 1s ease;
}

.rightSidebar > div {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.rightSidebar button {
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
}
