body {
    margin: 5;
    box-sizing: border-box;
    padding: 0;
    background: linear-gradient(180deg,#F8FAFC, #D9EAFD);
    background-attachment: fixed;
    font-family: sans-serif;
    height: 100%;
}

.content { 
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
}

.title {
    font-size: 4rem;
    margin: 20px;
}

.loginbox {
    margin: 50px;
}

.user, .pass{
    width: 250px;
    height: 35px;
}

.username, .password {
    font-size: 2rem;
    margin: 20px;
}

.submit {
    margin-top: 10px;
    font-size: 2rem;
    color: #ffffff;
    font-family: sans-serif;
    border-radius: 10px;
    background-color: #BCCCDC;
    border: #ecf0ff solid 2px;
    padding: 15px;
    transition: 0.3s ease-in-out;
}

.submit:hover {
    background-color:rgb(150, 157, 165);
    color: #eaf5ff;
}