body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background: linear-gradient(180deg, #F8FAFC, #D9EAFD);
    background-attachment: fixed;
    font-family: sans-serif;
    height: 100%;
}

.content { 
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.title {
    display: flex;
    font-size: 4rem;
    margin-bottom: 30px;
    font-weight: bold;
}

.picture {
    border-radius: 100px;
    width: 10rem;
    height: 10rem;
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
}

.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.detail-row {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 20px;
}

.detail-row label {
    padding: 10px;
    font-size: 2rem;
    font-weight: bold; 
}

.edit {
    align-self: center;
    font-size: 1.2rem;
    color: #ffffff;
    font-family: sans-serif;
    border-radius: 10px;
    background-color: #818d99;
    border: #ecf0ff solid 2px;
    padding: 10px 20px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    width: 400px;
}

.edit:hover {
    background-color: rgb(150, 157, 165);
    color: #eaf5ff;
}