body {
    margin: 5;
    box-sizing: border-box;
    padding: 0;
    background: linear-gradient(180deg,#F8FAFC, #D9EAFD);
    background-attachment: fixed;
    font-family: sans-serif;
    height: 100%;
}

.frontpage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    height: 100vh;
    box-sizing: border-box;
}

.content {
    flex: 1;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.title {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.subtitle {
    font-size: 1.3rem;
    margin-bottom: 40px;
    max-width: 500px;
    text-align: center;
}

.login, .register {
    padding: 10px 20px;
    font-size: 1rem;
    margin-right: 10px;
    cursor: pointer;
}

.pic {
    flex: 1;
    height: 400px;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.text {
    font-size: 7rem;
    color: #939ba3;
}

.text1 {
    font-size: 5rem;
    color: #a5c9ec;
}

.text, .text1 {
    top: calc(100vh - 50%);
}


.login, .register {
    margin-top: 10px;
    font-size: 2rem;
    color: #ffffff;
    font-family: sans-serif;
    border-radius: 10px;
    background-color: #BCCCDC;
    border: #ecf0ff solid 2px;
    padding: 15px;
    transition: 0.3s ease-in-out;
    width: 500px;
}

.login:hover, .register:hover {
    background-color:rgb(150, 157, 165);
    color: #eaf5ff;
}
