*{
    margin: 0;
    padding: 0;
}
html{
    overflow-x: hidden;
}
body {
     background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homeHeader{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    align-items: center;
    border: 1px solid black;
    gap: 40px;
}
.homeHeader .search{
    padding: 10px 20px;
    padding-right: 600px;
    border-radius: 10px;
    border: 1px solid #C2C2C2;
}
.homeHeader h1{
    padding-left: 20px;
    font-size: 40px;
}
.addPostBtn{
    background-color: black;
    padding: 10px;
    color: white;
    border: 1px solid white;
    margin: 10px 40px; 
    font-weight: bold;
    border-radius: 10px;
}
.HomeContainer{
    display: flex;
}
.leftSidebar{
    background-color: white;
    color: black;
    padding: 20px;

    width: 260px;

    list-style-type: none;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border: 1px solid black;
}
.leftSideUp{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 50%;
}
.leftSideDown{
    height: 50%;
    display: flex;
    flex-direction: column;
}
.leftSideDown > div{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.leftSideDown > div > div{
    display: inline;
}
.scrollContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.communityPageInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

width: 100%;
}
.communityPageInfo button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
}
.BGContainer{
    width: 100%;
    height: 200px;
    z-index: 100;
    background-color: gray;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.PagePfp{
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    border-radius: 99px;
    margin-left: 10px;
}
.communityRow{
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.interests{
    width: 90%;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
margin: 20px;
display: flex;
justify-content: start;
align-items: start;
padding: 10px;
font-size: 20px;
}
.userRow{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 60px;
    gap: 20px;
}
.userRow button{
    border: none;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 20px;
}
.post{
    display: flex;
    justify-self: center;
    align-items: start;
    flex-direction: column;
    text-align: justify;

    background-color: white;
    border: 1px solid black;
    padding: 20px;
    gap:20px;
    width: 90%;
    margin: 20px;
    
    box-shadow: 0 0 2px black;
    border-radius: 15px;
}
.pfp{
    border-radius: 100px;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    display: grid;
    place-content: center;
}
.postHeader{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
.postHeader .postHeaderPoster{
    display: flex;
    
    
}
.postHeader .postHeader .postHeaderCol{
    display: flex;
    
}

.interactionHeader{
    display: flex;
    gap: 20px;
}
.interactionHeader button{
    border: none;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 20px;
}
.commentSection{
    background-color: #1e1e1e;
    padding: 20px;
    width: 95%;
    border-radius: 10px;
}
.addComment{
    display: flex;
    gap: 20px;
}
.sendCommentBTN{
    padding: 10px 40px;
}
.rightSidebar h2{

}
.rightSidebar{
    background-color: white;
    width: 400px;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    gap: 20px;
}
.rightSidebar > div{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
.rightSidebar button{
    padding: 10px;
    border-radius: 15px ;
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
}